*.egg-info
data/
*.pyc
*.so
*.tar.gz
*.DS_Store
*.bin
*.vec

build/
data/
result/
dist/

fasttext/fasttext.cpp
facebookresearch-fasttext-*

# Intellij
.idea/

# pip
.eggs/

# For test
test/classifier_pred_result.txt
test/classifier_test_result.txt
test/dbpedia.train

# Misc
TODO
README.rst
